/* Skills.css */
#skills {
    padding: 20px;
  }
  
  #skills h2 {
    color: #333;
  }
  
  #skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #skills li {
    color: #666;
    margin-bottom: 5px;
  }
  